<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Food for you</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-item-group class="food-group">
    <ion-list lines="none" class="list-foods">
      <ion-item-group *ngFor="let foodItem of listFood" class="item-food">
        <ion-item class="ion-align-items-start ion-no-padding">
          <img [src]="foodItem.url">
          <ion-item-group class="detail-food">
            <h1>{{foodItem.name}}</h1>
            <p class="three-dots-4">
              {{foodItem.desc}}
            </p>
          </ion-item-group>
        </ion-item>
        <ion-item-group class="group-add-shop">
          <ion-label class="text-price">
            $ {{foodItem.price}}
          </ion-label>
          <img class="icon-add" (click)="clickAdd()" src="assets/img/ion-add.svg" alt="">

        </ion-item-group>
      </ion-item-group>
    </ion-list>
  </ion-item-group>
  
</ion-content>
<ion-footer class="cart-main">
  <ion-item-group *ngIf="amount!=0" class="detal-cart">
    <h1>Food name</h1>
    <ion-item-group class="cart-info">
      
      <img (click)="clickRemove()" class="icon-add" src="assets/img/ion-remove.svg" alt="">
      <ion-item-group class="count" >
        <p >{{amount}}</p>
      </ion-item-group>
      <img (click)="clickAdd()" class="icon-add" src="assets/img/ion-add.svg" alt="">
    </ion-item-group>

  </ion-item-group>
<ion-item-group class="cart-group" [ngClass]="{'add-cart-amount':amount!=0}">
  <img class="img-cart-item"  src="assets/img/ion-cart.svg" alt="">
    <ion-label *ngIf="amount!=0" class="amount-cart">
          +{{amount}}
    </ion-label>
</ion-item-group>
  <ion-item-group *ngIf="amount!=0" class="btn-add-group" >
    <ion-button (click)="clickButtonAdd()" class="btn-add">
      Add
    </ion-button>
  </ion-item-group>
</ion-footer>
