<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-item-group class="fixed">
    <ion-label class="date">{{ getDateString() }}</ion-label>
    <ion-label class="title">People match</ion-label>
  </ion-item-group>
  <ion-grid>
    <ion-row *ngFor="let row of people">
      <ion-col *ngFor="let col of row" size="4">
        <ion-item-group class="col-inner main-box-shadow active-effect">
          <img [src]="col.thumb_image">
        <p class="person-name">{{ col.name }}</p>
        </ion-item-group>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>