ion-content {
    .people-page-detal {
        .text-title {
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            color: #434141;
            text-align: center;
            @media screen and (max-height: 569px) {
                font-size: 15px !important;
            }
        }
        position: relative;
        padding: 10px 20px;
        .title-head {
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;

            .btn-go {
                width: 35px;
                height: 24px;
                font-size: 14px;
                --background: #e1e1e1;
                border-radius: 8px;
                text-align: center;
                padding-left: 10px;
            }
            .text-title {
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #434141;
            }
        }

        ion-grid {
            overflow: scroll;
            height: 340px;
            @media screen and (max-height: 737px) {
                height: 300px !important;
            }
            @media screen and (max-height: 668px) {
                height: 230px !important;
            }
            @media screen and (max-height: 569px) {
                height: 175px !important;
            }
            @media screen and (max-height: 481px) {
                height: 150px !important;
            }
            ion-col {
                .people-item {
                    background: #ffffff;
                    border-radius: 40px;
                    box-shadow: 0 5px 4px #a9a6a6;
                    margin: 0 7px;
                    .avatar-people {
                        border-radius: 50%;
                        margin: 0;
                        position: relative;
                    }
                    .name-people {
                        text-align: center;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 18px;
                        color: #aeaeae;
                        padding: 7px;
                        @media screen and (max-height: 668px) {
                            font-size: 11px !important;
                        }
                    }
                }
            }
        }
    }
}
