ion-content {
  position: relative;
  --overflow: hidden;
  .main-meeting {
      background: #efefef;
      width: 100%;
      position: relative;
      // height: 100%;
      position: absolute;
      top: 189px;
      border-radius: 40px;
      @media screen and (max-height: 737px) {
          top: 125px;
      }
      .icon-check {
          position: absolute;
          right: 25px;
          top: 3px;
          width: 40px;
          height: 25px;
          background: #eaeaea;
          border-radius: 24px;
          display: flex;
          justify-content: center;
          ion-icon {
              color: #00b0b2;
              font-size: 25px;
          }
      }
      .content-meeting {
          position: relative;
          margin: 0 36px;
          margin-top: 16px;
          padding-top: 20px;
         
          .text-title {
              font-weight: 600;
              font-size: 20   px;
              line-height: 30px;
              
          }
          .meeting-des{
              overflow: scroll;
              height: 300px;
              
              .date-meeting {
                  display: flex;
                  // margin: 5px 0;
                  margin-bottom: 5px;
  
                  ion-label {
                      font-style: normal;
                      font-weight: 600;
                      font-size: 14px;
                      line-height: 21px;
                      margin-right: 20px;
  
                      color: #999393;
                  }
                  margin-top: 4px;
                  // margin-bottom: 6px;
              }
              p {
                  font-style: normal;
                  font-weight: normal;
                  font-size: 14px;
                  line-height: 21px;
                  text-align: justify;
                  color: #999393;
                  
                  margin: 5px 0;
              }
              .list-timer {
                  list-style: none;
                  margin: 0;
                  padding: 0;
                  height: 100px;
                  overflow: scroll;
                  .item-time {
                      font-style: normal;
                      font-weight: normal;
                      font-size: 14px;
                      line-height: 21px;
                      text-align: justify;
                      color: #999393;
                      .text-time {
                          overflow: visible;
                          white-space: pre-line;
                      }
                  }
              }  
          }
          
          .main-donate {
              margin: 0;
              padding: 0;
              .donate-info {
                  
                  text-align: center;
                  ;
                 
                  .avatar-img {
                      border: 1px solid #f3f3f3;
                      margin: 0;
                      border-radius: 50%;
                      width: 50px;
                      height: auto;
                      ion-img{
                          width: 100%;
                      }

                  }
                  .text-name {
                      font-style: normal;
                      font-weight: bold;
                      font-size: 18px;
                      line-height: 21px;
                      color: #434141;
                      text-align: left;
                  }
              }
              .donate-detail {
                  .text-detail {
                      font-style: normal;
                      font-weight: 500;
                      font-size: 14px;
                      line-height: 129.5%;
                      /* or 18px */
                      text-align: justify;
                      color: #797777;
                      margin: 6px 0;
                      height: 35px;
                  }
                  h5 {
                      margin: 0;
                      color: #797777;
                  }
                  .icon-money {
                      color: #faae42;
                  }
                  .text-money {
                      font-style: normal;
                      font-weight: normal;
                      font-size: 14px;
                      line-height: 21px;
                      text-align: justify;
                      color: #797777;
                  }
                  .text-tks {
                      font-style: normal;
                      font-weight: normal;
                      font-size: 13px;
                      line-height: 18px;
                      text-align: justify;

                      color: #00b0b2;
                  }
              }
          }
      }
  }
  .join-main {
      background: #f9f9f9;
      border-radius: 40px;
      height: 140px;
      width: 100%;
      // position: absolute;
      // bottom: 0;
      // left: 0;

      .text-title-join {
          color: #797777;
          margin-left: 29px;
          padding-top: 32px;
      }
      .button-join {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 65%;
          // margin: 10px 20px;
          ion-button {
              --background: #00b0b2;
              --border-radius: 15px;
              width: 168px;
              height: 39px;
              margin: 0 10px;
          }
      }
  }
}
.active-check {
  --background: #dddddd !important;
}
@media screen and (max-height: 737px) {
.meeting-des{
  height: 290px!important;
}

}
@media screen and (max-height: 668px) {
  .main-meeting {
      top: 105px !important;
  }
  
  .text-title {
      font-size: 12px !important;
      line-height: 15px !important;
  }
  .content-meeting {
      p {
          font-size: 12px !important;
        
      }
  }
  .list-timer {
      
      .text-time {
          font-size: 12px !important;
      }
  }
  .join-main {
      height: 70px !important;
      .text-title-join {
          padding-top: 10px !important;
      }
      .button-join {
          margin-top: 10px;
      }
      .text-title-join{
          font-size: 12px!important;
      }
  }
  .donate-info{
      .text-name{
          font-size: 15px!important;
      }
      .avatar-img{
          width: 40px!important;
      }
  }
  .donate-detail {
      .text-detail {
          height: 30px !important;
      }
      h5{
          font-size: 17px!important;
      }
  }
  .text-tks {
      font-size: 13px!important;
  }
}
@media screen and (max-height: 641px) {
  .main-meeting {
      top: 180px !important;
  }
  .meeting-des{
      height: 200px!important;
  }
  .text-tks {
      font-size: 12px!important;
  }
  h5{
      font-size: 14px!important;
  }
}
@media screen and (max-height: 569px) {
  .main-meeting {
      top: 130px !important;
  }
  .meeting-des{
      height: 185px!important;
  }
  .content-meeting {
      p {
          font-size: 12px !important;
          
      }
  }
  .donate-detail {
      .text-detail {
          height: 30px !important;
      }
      h5{
          font-size: 13px!important;
      }
  }
  .text-tks {
      font-size: 10px!important;
  }
   .date-meeting{
      ion-label{
          font-size: 11px!important;
      }
  }

}
@media screen and (max-height: 481px) {
  .main-meeting {
      top: 48px !important;
  }
  .meeting-des{
      height: 180px!important;
  }
  .content-meeting {
      p {
          font-size: 12px !important;
          
      }
  }
  .donate-detail {
      .text-detail {
          height: 30px !important;
      }
      h5{
          font-size: 13px!important;
      }
  }
  .text-tks {
      font-size: 10px!important;
  }
  .date-meeting{
      ion-label{
          font-size: 11px!important;
      }
  }
}