$height: 82vh;
ion-header {
    height: 50px;
    ion-title {
        text-align: center;
        padding: 10px 50px;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        margin-left: 15px;
    }
    .back-food-btn {
        background-color: #d9d9d9;
    }
    margin: 10px 0;
}
ion-content {
    h1 {
        margin: 0;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: #434141;
    }
    --padding: 0 50px;
    .food-group {
        overflow: scroll;
        border-radius: 20px;

        height: 82vh;
        // height: 91vh;
        .list-foods {
            padding-left: 15px;
            padding-right: 15px;
            z-index: 1;
            margin-top: 15px;
            .item-food {
                position: relative;
                box-shadow: 3px 0px 5px 5px rgba(0, 0, 0, 0.1);
                border: 1px solid #d2d2d2;
                border-radius: 10px;
                overflow: visible;
                z-index: 1;
                margin-bottom: 15px;
                padding: 3px;
                ion-item {
                    .detail-food {
                        padding-left: 4vw;
                        position: relative;
                        p {
                            margin: 0;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 12px;
                            line-height: 18px;
                            text-align: justify;
                            color: #8a8a8a;
                        }
                    }
                    img {
                        margin-right: -2vw;
                    }
                }

                .group-add-shop {
                    position: absolute;
                    right: -3vw;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    bottom: -1vh;
                    overflow: visible;
                    z-index: 10;
                    
                    .icon-add {
                        border-radius: 50%;
                        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
                        transform: translate(0px, -3px);
                    }
                    .text-price {
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        margin-bottom: 5px;
                        margin-right: 5px;
                        color: #434141;
                    }
                }
            }
        }
    }
}
.cart-main {
    height: 9%;
    border-radius: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 11;
    height: 95px;
    // height: 10px;
    background: #ffffff;
    // height: 10vh;
    align-items: center;
    img {
        height: 48px;
    }
    .detal-cart {
        position: absolute;
        top: 0;
        left: 20px;
        h1 {
            margin: 5px 0;
            font-size: 18px;
            font-weight: 600;
            transform: translate(16px, 8px);
        }
        .cart-info {
            display: flex;
            justify-content: center;
            align-items: center;
            .icon-add {
                height: 30px;
                margin-left: 11px;
            }

            .count {
                vertical-align: middle;
                justify-items: center;
                width: 10px;
                height: 100%;
                margin: 0 10px;
                p {
                    text-align: center;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    color: #434141;
                    margin: 2vh 0;
                    width: 21px;
                }
            }
        }
    }
    .cart-group {
        transition: all 0.3s;
        position: absolute;
        bottom: 5px;
        .amount-cart {
            position: absolute;
            width: 20px;
            height: 20px;
            top: -5px;
            background: #ffffff;
            border: 1.0869px solid #fbae42;
            border-radius: 50%;
            right: 0;
            text-align: center;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            align-items: center;
            justify-content: center;
        }
    }
    .btn-add-group {
        position: absolute;
        right: 20px;
        top: 15px;
        vertical-align: middle;
        .btn-add {
            width: 110px;
            height: 40px;
            --background: #fbae42;
            --border-radius: 20px;
        }
    }
}
.add-cart-amount {
    transform: translateY(-100%);
}
// .button-add{
//     transform:translateY(0);
// }
// @media screen and (max-height: 668px) {
//     .food-group {
//         height: calc(#{$height} - 3vh) !important;

//     }
//     .cart-main{
//         height: calc(100% - #{$height} - 56px);
//     }
// }
// @media screen and (max-height: 569px) {
//     .food-group {
//         height: calc(#{$height} - 6vh) !important;
//     }
//     .cart-main{
//         height: calc(100% - #{$height} - 35px)!important;
//     }
// }
// @media screen and (max-height: 824px) {
//     .cart-main{
//         height: calc(100% - #{$height} - 80px)!important;
//     }
// }

@media screen and (max-height: 732px) {
    .cart-main {
        height: 87px !important;
    }
}
