<ion-content>
  <ion-item-group  class="container">
    <ion-img src="assets/icon/logo.png"></ion-img>
    <ion-label class="welcome">Welcome to Chabad Vietnam!</ion-label>
    <ion-label class="language">To continute, pick your country and language.</ion-label>
  </ion-item-group>
  <ion-item class="title">
    <ion-label>Your Location</ion-label>
  </ion-item>
  <ion-item class="select">
    <ion-label>Việt Nam</ion-label>
    <ion-select>
      <ion-select-option value="brown">Brown</ion-select-option>
      <ion-select-option value="blonde">Blonde</ion-select-option>
      <ion-select-option value="black">Black</ion-select-option>
      <ion-select-option value="red">Red</ion-select-option>
    </ion-select>
  </ion-item>
    <ion-button>Continue</ion-button>
</ion-content>
