<ion-content [ngClass]="{ 'ion-content-activated': activatedInput}">
  <ion-back-button icon="chevron-back-outline" text="" class="back-btn"></ion-back-button>

  <div class="header">
    <ion-label>ACCOUNT INFORMATION</ion-label>
  </div>

  <div class="user">
    <div class="user-img-container">
      <img src="assets/img/user.png" class="user-img main-box-shadow">
      <img src="assets/img/edit2.svg" class="icon-edit" (click)="presentPopover()">
    </div>
    <ion-label *ngIf="!activatedInput" class="edit-btn" (click)="activateInput()">Edit</ion-label>
  </div>

  <ion-list class="list">
    <ion-backdrop *ngIf="!loadedData" class="backdrop-list"></ion-backdrop>

    <form [formGroup]="form" (ngSubmit)="updateInfo()">
      <div class="item">
        <ion-label class="item-label">Your name</ion-label>
        <ion-input class="item-content" maxlength="30" [readonly]="!activatedInput"
          [ngClass]="{ 'item-content-activated': activatedInput}" formControlName="fullName"></ion-input>
        <ng-container *ngFor="let validation of validationMessages.fullName">
          <div class="error-message"
            *ngIf="form.get('fullName').hasError(validation.type) && (form.get('fullName').dirty || form.get('fullName').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <div class="item">
        <ion-label class="item-label">Date of birth</ion-label>
        <ion-datetime class="item-content" [readonly]="!activatedInput"
          [ngClass]="{ 'item-content-activated': activatedInput}" formControlName="dateOfBirth" display-timezone="utc">
        </ion-datetime>
      </div>
      <div class="item">
        <ion-label class="item-label">Phone number</ion-label>
        <ion-input autocomplete="off" type="text" class="item-content" [readonly]="!activatedInput"
          [ngClass]="{ 'item-content-activated': activatedInput}" formControlName="phoneNumber"></ion-input>
        <ng-container *ngFor="let validation of validationMessages.phoneNumber">
          <div class="error-message"
            *ngIf="form.get('phoneNumber').hasError(validation.type) && (form.get('phoneNumber').dirty || form.get('phoneNumber').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <div class="item">
        <ion-label class="item-label">Address</ion-label>
        <ion-input class="item-content" [readonly]="!activatedInput" auto-grow="true"
          [ngClass]="{ 'item-content-activated': activatedInput}" formControlName="address"></ion-input>
        <ng-container *ngFor="let validation of validationMessages.address">
          <div class="error-message"
            *ngIf="form.get('address').hasError(validation.type) && (form.get('address').dirty || form.get('address').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </form>
    <ion-label *ngIf="!activatedInput" class="change__password" (click)="openModalPassword()">
      Change password
    </ion-label>
  </ion-list>
  <ion-buttons class="footer" *ngIf="activatedInput">
    <ion-button class="btn btn-cancel" (click)="deactivateInput()">Cancel</ion-button>
    <ion-button class="btn btn-update-disabled" [ngClass]="{'btn-update': canUpdate()}" (click)="updateInfo()"
      [disabled]="!canUpdate()">Update</ion-button>
  </ion-buttons>
</ion-content>