<ion-content>
  <ion-backdrop class="backdrop-event-detail" [style.display]="loadedData ? 'none' : 'block'"></ion-backdrop>

  <span class="btn-donate main-box-shadow active-effect" (click)="goToDonate()">Donate</span>
  <ion-item-group class="ion-text-center">
    <span class="line"></span>
  </ion-item-group>

  <ion-item-group class="body" [style.height]="data.event.joined == false ? 'calc(100% - 291px)' : 'calc(100% - 291px + 110px)'">
    <ion-buttons class="ion-align-items-start ion-justify-content-between">
      <h3 class="title">{{ event.name }}</h3>
    </ion-buttons>

    <ion-item-group class="date-box">
      <span class="ion-margin-end">{{ getDayString() }}</span>
      <span>From: </span>
      <span class="ion-margin-end">{{ event.start_time.substring(11, 16) }}</span>
      <span>To: </span>
      <span>{{ event.end_time.substring(11, 16) }}</span>
    </ion-item-group>
    <p class="text">{{ event.description }}</p>

    <h3 class="title">Description</h3>
    <p class="text">{{ event.description }}</p>
  </ion-item-group>

  <ion-item-group class="fixed-bottom">
    <ion-item-group class="donate">
      <h3 class="title">Donate</h3>
      <ion-buttons class="donate-body">
        <ion-item-group class="avatar">
          <div class="avatar-inner active-effect">
            <img src="assets/icon/person.svg">
          </div>
          <ion-label class="avatar-name">David</ion-label>
        </ion-item-group>
        <ion-item-group class="info">
          <ion-label class="info-title">Purpose</ion-label>
          <p class="info-text">The Temple in Jerusalem was any of structures which were located</p>
          <span class="dollar">$</span>
          <span class="money">18 USD</span>
          <span class="thank-sentence">Thank member!</span>
        </ion-item-group>
      </ion-buttons>
    </ion-item-group>
  
    <ion-item-group [style.display]="data.event.joined == false ? 'block' : 'none'" class="join">
      <p class="join-title">Will you join with us?</p>
      <ion-buttons class="ion-justify-content-between">
        <span class="btn-join-with-us active-effect" (click)="chooseJoinSelection(false)">No</span>
        <span class="btn-join-with-us active-effect" (click)="chooseJoinSelection(true)">Yes</span>
      </ion-buttons>
    </ion-item-group>
  </ion-item-group>
</ion-content>