ion-header {
    
    height: 70px;
    ion-title {
        text-align: center;
        padding: 10px 50px;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        margin-left: 15px;
    }
    .back-food-btn {
        background-color: #d9d9d9;
    }
}

ion-content {
    ion-item-group {
        background-color: rgba(0, 176, 178, 0.1);
        height: auto;
        border-radius: 40px;
        width: 96%;
        margin-left: 2%;
        margin-bottom: 50px;
        .group0 {
            width: 92%;
            margin-left: 2%;
            border-radius: 20px;
        }
        .group1 {
            margin-top: 18%;
            width: 96%;
            margin-left: 2%;
            border-radius: 20px;
            .group1-label {
                font-size: 14px;
                padding: 8px 25px;
            }
            .group1-item {
                --background: #F8F8F8;
                width: 92%;
                margin-left: 4%;
                border-radius: 10px;
                padding-bottom: 15px;
                ion-icon {
                    width: 50px;
                    height: 30px;
                    transform: translateY(-10px);
                }
                span {
                    margin-top: 10px;
                    font-size: 15px;
                    height: 60px;
                }
            }
        }
        .group2 {
            margin-top: 4%;
            width: 96%;
            margin-left: 2%;
            border-radius: 20px;

            .group2-row-1 {
                .left-label {
                    margin-left: 20px;
                    margin: auto;
                    display: block;
                    margin-top: 10px;
                }
            }
            .group2-row-2 {
                position: relative;
                margin-top: 30px;
                margin-left: 40px;
                border-bottom: 2px solid #F8F8F8;
                .amount {
                    margin-right: 10px;
                    font-weight: 600;
                }
                .food-name {
                    font-size: 16px;
                    font-weight: 600;
                }
                ion-row {
                    margin: auto;
                    margin-left: 9%;
                    ion-label {
                        font-weight: 600;
                        transform: translateY(2px);
                    }
                }
                .price {
                    margin-right: 40px;
                }

            }
            .group2-row-3 {
                border-top: 2px solid #f8f8f8;
                margin-top: 10px;
                ion-icon {
                    margin-left: 8%;
                    transform: translateY(10px);
                }
                ion-input {
                    margin-left: 5px;
                }
            }
        }
        .group3 {   
            margin-top: 4%;
            width: 96%;
            margin-left: 2%;
            border-radius: 20px;
            margin-bottom: 15%;
            .group3-row-1 {
                .group3-row1-total {
                    padding: 20px 0;
                    margin-left: 30px;
                }
                .group3-row1-prices {
                    padding: 20px 0;
                    margin: auto;
                    margin-right: 25px;
                }
            }
        }
        .main-button {
            width: 170px;
            height: 40px;
            display: block;
            margin: auto;
            font-size: 18px;
            --border-radius: 15px;
            --background: #00B0B2;
        }
        .group4 {
            margin-top: 15%;
            width: 96%;
            margin-left: 2%;
        }
    }
}