.item .sc-ion-label-ios-h {
    font-family: 'Poppins';
}
ion-content {
    --overflow: hidden;
    position: relative;
    --background: #DCF7F8;
    ion-item-group {
        position: absolute;
        top: 244px;
        width: 100%;
        height: 78%;
        background: #00B0B2;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        @media screen and (max-height: 736px) {
            top: 176px;
            bottom: 0;
            height: auto;
        }
        @media screen and (max-height: 640px) {
            top: 146px;
            bottom: 0;
            height: auto;
        }
        @media screen and (max-height: 568px) {
            top: 0px;
            bottom: 0;
            height: auto;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
        }
        @media screen and (max-height: 480px) {
            top: 0px;
            bottom: 0;
            height: auto;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
        }
        ion-segment{
            width: 88.6%;
            border: 1px solid transparent;
            border-radius: 40px;
            --background: #0DB9BB;
            margin: 0 auto;
            margin-top: 39px;
            @media screen and (max-height: 736px) {
                margin-top: 29px;
            }
            @media screen and (max-height: 731px) {
                margin-top: 20px;
            }
            @media screen and (max-height: 667px) {
                margin-top: 13px;
            }
            @media screen and (max-height: 480px) {
                margin-top: 8px;
            }
            ion-segment-button {
                font-size: 18px;
                font-weight: 600;
                font-family: 'Poppins';
                color: #fff;
                border: 1px solid transparent;
                --border-radius: 40px;
                --background: #0DB9BB;
                --background-checked: #FAAE41!important;
                --color-checked: white;
                --indicator-color : transparent!important; /* this solution */
                min-height: 40px;
                margin: 0;
            }
         }
         ion-grid {
             overflow: auto;
             width: 70%;
             color: #fff;
             margin-top: 63px;
             ion-row {
                 position: relative;
                 margin-bottom: 12px;
                 ion-label {
                     margin-bottom: 14px;
                 }
                 input {
                    margin: 0;
                    font: inherit;
                    color: inherit;
                    background-color: #30B9BB;
                    height: 36px;
                    outline: none;
                    border: 1px solid #30B9BB;
                    width: 96.2%;
                    padding: 0 20px;
                    border-radius: 5px;
                    @media screen and (max-height: 667px) {
                       height: 30px !important;
                    }
                    &:focus {
                        border-color: #fff;
                    }
                }
                button {
                    position: absolute;
                    right: 10px;
                    bottom: 7px;
                    background: #30B9BB;
                    border: none;
                    &:active {
                        outline: 0;
                        border: 0;
                    }
                    &:focus {
                        outline: 0;
                        border: 0;
                    }
                    ion-icon {
                        font-size: 16px;
                        color: #DBDBDB;
                    }
                }
              
             }
             .forgot__pass {
                 text-align: end;
                 margin-top: 26px;
                 @media screen and (max-height: 568px) {
                    margin-top: 3%;
                    font-size: 14px;
                }
             }
             ion-button {
                --background: #DCF7F8;
                --color: #00B0B2;
                min-height: 45px;
                min-width: 45px;

                --border-radius: 24px;
                margin-left: 79%;
                 margin-top: 15%;
                ion-icon {
                    font-size: 22px;
                }
                @media screen and (max-height: 667px) {
                    margin-top: 5%;
                }
                @media screen and (max-height: 640px) {
                    margin-top: 5%;
                }
                @media screen and (max-height: 568px) {
                    margin-top: 3%;
                    min-height: 30px;
                    min-width: 30px;
                    margin-left: 77%;

                }
            }
    }
    .select__signup {
        width: 88.6% ;
        margin-top: 17px;
        .submit__signup {
            margin-top: 16px !important;
        }
        &-row {
            .your__select-flat {
                .select {
                    background-color: #30B9BB;
                    margin-left: 6px;
                    height: 36px;
                    border-radius: 5px;
                    @media screen and (max-height: 667px) {
                        height: 30px !important;
                    }
                   
                }
            }
            .input-mr {
                margin: 10px 0 !important;
            }
            margin-bottom: -7px !important;
            .select__signup-row--name {
                margin-bottom: 2px !important ;
                line-height: 27px;
                @media screen and (max-height: 667px) {
                    line-height: 24px!important;
                }
            }
            &--label {
                margin-left: 37% ;
                line-height: 27px;
                @media screen and (max-height: 667px) {
                    line-height: 24px!important;
                }
            }
            &--group {
                display: flex ;
                .select {
                    background-color: #30B9BB;
                    margin-left: 6px;
                    height: 36px;
                    border-radius: 5px;
                    @media screen and (max-height: 667px) {
                        height: 30px !important;
                    }
                    @media screen and (max-height: 568px) {
                        font-size: 11px !important;
                     }
                }
                input {
                    width: 69% !important;
                    @media screen and (max-height: 667px) {
                        height: 30px !important;
                    }

                }
                .your__select-padding {
                    padding: 0 0px 0px 6px;
                    
                }
                .your__select {
                    color:#fff;
                    display: flex;
                   
                    align-items: center;
                    font-size: 16px;
                    z-index: 2;
                    &-country {
                        text-align: center;
                        flex: 1;
                        padding: 6px;
                        border: 1px solid #fff;
                        margin-right: 7px;
                        border-radius: 5px;
                    }
                    &-flat {
                        display: inline-flex;
                        background-color: #5CC7C8;
                        border-radius: 6px;
                        height: 24px;
                        margin: 0;
                        margin-left: 10px;
                        img {
                            width: 17px;
                            height: 17px;
                            margin: auto 0px;
                            padding: 2px;
                            border-radius: 50%;
                            margin-left: 3px;
                            background-size: cover;
                        }
                        &--country {
                            --padding-bottom: 0;
                            --padding-end: 6px;
                            --padding-top: 0;
                            --padding-start: 0px;
                            margin-left: -16px;
                        }
                      
                    }
                }
                ion-select {
                    font-size: 14px;
                   
                }
                .your__select-notmr {
                    margin-bottom:0 !important ;
                    font-size: 12px;
                    @media screen and (max-height: 640px) {
                        width: 34px !important;
                     }
                    @media screen and (max-height: 568px) {
                        width: 33px !important;
                     }
                }
            }
            &--flag {
                display: flex;
                align-items: center;
                width: 70% !important;
                border-radius: 5px;
                background: #30B9BB !important;
                @media screen and (max-height: 667px) {
                    height: 30px !important;
                }
                input {
                    width: 57.6% !important;
                    padding: 0 !important;
                    padding-left: 10px !important;
                    margin-left: 10px !important;
                }
            }
            .display-sp-around {
                display: flex;
                justify-content: space-around;
            }
            &--input {
                margin-top: -7px !important;
                margin-bottom: 14px !important;
            }
          
        }
    }
}
}