<ion-content class="ion-padding">
  <ion-buttons>
    <ion-label class="slide__skip" (click)="Skip()">
      Skip
    </ion-label>
  </ion-buttons>
    <img [src]="image" alt="" class="slide__image">
    <ion-label class="slide__title">
     {{title}}
    </ion-label>
    <ion-button class="slide__btn-next"(click)="goNext()">
        Next
    </ion-button>
    <ion-item-group class="slide__group-circle">
      <ion-label [style.background]="clicked == 0? '#00B0B2': '#DBDBDB'" (click)="gottoSlide1()">
       
      </ion-label>
      <ion-label [style.background]="clicked == 1? '#00B0B2': '#DBDBDB'" (click)="gottoSlide2()">
        
      </ion-label>
      <ion-label [style.background]="clicked == 2? '#00B0B2': '#DBDBDB'" (click)="gottoSlide3()">
        
      </ion-label>
    </ion-item-group>
</ion-content>